<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= status %> - <%= error.name %> </title>
    <%- include('../partials/head'); %>
  </head>
  <body class="flex flex-col min-h-screen">
    <%- include('../partials/header'); %>
    <main class="flex flex-col justify-center items-center flex-grow p-4">
      <div class="text-9xl flex justify-center"><%- include('../icons/sad.svg'); %></div>
      <h1 class="text-6xl mt-4"><%= status %> - <%= error.name %></h1>
      <p class="text-6xl mt-4"><%= message %></p>
      <p class="text-xl my-2">Yikes! Something went wrong on our end.</p>
      <p class="text-xl mt-2">
        Our server is feeling a bit under the weather. Please try again later, or give it some soup!
      </p>
      <% if (error && error.stack) { %>
      <details>
        <summary>Error Stack</summary>
        <pre class="text-left"><%= error.stack %></pre>
      </details>
      <% } %>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
